rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    match /users/{userId} {
      // Mengizinkan admin yang sudah login untuk membaca jumlah pengguna
      allow read, write: if isSignedIn();
    }

    match /asset_catalogs/{document=**} {
      allow read: if true;
      allow write: if isSignedIn();
    }

    match /prices/{document=**} {
      allow read: if true;
      allow write: if isSignedIn();
    }

    match /{document=**} {
      // Global config atau koleksi lain yang perlu dibaca/ditulis Admin
      allow read, write: if isSignedIn();
    }
  }
}
